<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Ganga Technocast - About</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: UpConstruction
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <%- include('nav') %>

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <div
        class="breadcrumbs d-flex align-items-center"
        style="background-image: url(&quot;assets/img/breadcrumbs-bg.jpg&quot;)"
      >
        <div
          class="container position-relative d-flex flex-column align-items-center"
          data-aos="fade"
        >
          <h2>Board of Directors</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Board of Directors</li>
          </ol>
        </div>
      </div>
      <!-- End Breadcrumbs -->

      <!-- ======= Our Team Section ======= -->
      <section id="team" class="team">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Our Board</h2>
            <p>The Driving Force Behind Our Success</p>
          </div>

          <div class="row gy-5 px-lg-5 mx-lg-3">
            <div
              class="col-lg-12 col-md-12 member"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="row">
                <div class="col-lg-6 col-md-6 member">
                  <div class="member-img">
                    <img
                      src="assets/img/team/team-1.jpg"
                      class="img-fluid"
                      alt=""
                    />
                    <!-- <div class="social">
                    <a href="#"><i class="bi bi-twitter"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                  </div> -->
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 member">
                  <div class="member-info text-left">
                    <h4>Hiralal Tilva</h4>
                    <span>Chairman Emeritus & Non-Executive Director</span>
                    <p>
                      Mr. Hiralal Tilva, with his extensive expertise spanning
                      over four decades in various industry domains, possesses
                      invaluable knowledge and experience. Remarkably, he has
                      dedicated 50 years to the forging, casting, pipes, and
                      construction sectors, followed by more than 16 years of
                      specializing in the Forging and Casting industry.
                      <br /><br />
                      Presently, under his visionary leadership, Ganga
                      Technocast has successfully spearheaded expansion and
                      diversification into the casting sector. This
                      diversification has resulted in an impressive casting
                      portfolio, encompassing cutting-edge casting solutions and
                      quality. Notably, these quality and quick delivery have
                      made a significant impact both in India and
                      internationally. <br /><br />
                      Mr. Tilva’s overarching vision revolves around
                      establishing an eminent Indian conglomerate. His
                      aspiration is to provide world-class casting solutions
                      that cater to the needs of merchants, enterprises, and
                      governments on a global scale. By combining his extensive
                      industry experience with Ganga Technocast’s technological
                      prowess, he is determined to create an entity that stands
                      at the forefront of the casting industry, driving
                      innovation and empowering businesses worldwide.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Team Member -->

            <hr />
            <div
              class="col-lg-12 col-md-12 member"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="row">
                <div class="col-lg-6 col-md-6 member">
                  <div class="member-info text-left">
                    <h4>Shravan Chaniara</h4>
                    <span>Chairman & Managing Director</span>
                    <p>
                      Shravan Chaniara is the Chairman & Managing Director of
                      Ganga Technocast. He shoulders an imperative role in
                      building and scaling a world-class team that designs
                      innovative casting solutions and caters needs of customers
                      globally, with a vision to be a global investment casting
                      manufacturers. <br /><br />His ambition is to nurture
                      Ganga Technocast into a global investment casting
                      manufacturer, wherein as a manufacturer, its role will be
                      to provide best quality and on time delivery; enabling
                      smooth fulfillment of castingn products for all
                      enterprises in India and globally. Shravan founded Ganga
                      Technocast, with determination of making it one of the
                      largest investment casting manufacturers worldwide.
                    </p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 member">
                  <div class="member-img">
                    <img
                      src="assets/img/team/sc.jpeg"
                      class="img-fluid"
                      alt=""
                    />
                    <!-- <div class="social">
                    <a href="#"><i class="bi bi-twitter"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                  </div> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- End Team Member -->
            <hr />
            <div
              class="col-lg-12 col-md-12 member"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="row">
                <div class="col-lg-6 col-md-6 member">
                  <div class="member-img">
                    <img
                      src="assets/img/team/dk.jpeg"
                      class="img-fluid"
                      alt=""
                    />
                    <!-- <div class="social">
                    <a href="#"><i class="bi bi-twitter"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                  </div> -->
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 member">
                  <div class="member-info text-left">
                    <h4>Divyanshu Kalola</h4>
                    <span>CEO and Joint Managing Director </span>
                    <p>
                      Divyanshu Kalola is the Chief Executive Officer (CEO) of
                      Ganga Technocast, has an exceptional academic
                      background.<br /><br />Having earned an undergraduate
                      degree from the prestigious Illinois Institute of
                      Technology (IIT) Chicago, his educational qualifications
                      are truly exemplary. Such an impressive combination of
                      academic accomplishments undoubtedly equips Divyanshu with
                      a unique and refined insight into the realm of investment
                      casting.<br /><br />With over years of valuable experience
                      in the field of manufacturing , Divyanshu possesses a
                      profound expertise that sets him apart from his peers.
                      Prior to joining the ranks at Ganga Technocast, he had the
                      privilege of contributing his skills and knowledge to the
                      renowned Grainger Inc, a testament to his exceptional
                      capabilities.<br /><br />In conclusion, Divyanshu stands
                      as an incomparable force within the casting industry, with
                      his accomplished educational background and wealth of
                      experience solidifying his position. His invaluable
                      contributions to Ganga Technocast makes him an asset to
                      the organization, as his expertise continues to thrive
                      beneath his capable stewardship.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Team Member -->
          </div>
        </div>
      </section>
      <!-- End Our Team Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include('footer') %>
    <!-- End Footer -->

    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
